{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Documents{% endblock %}</h1>
    {% if g.user %}
        <a class="action" href="{{ url_for('doc.create')}}">New Document</a>
    {% endif %}
{% endblock %}

{% block content %}
  {% for doc in documents %}
    <div>
        <h1>{{ doc['title'] }}</h1>
        <div class="about">by {{ doc['username'] }} on {{ doc['created'].strftime('%Y-%m-%d') }}</div>
        
        {% if g.user['id'] == doc['author_id'] %}
          <a class="action" href="{{ url_for('doc.update', id=doc['id']) }}">Edit</a>
        {% endif %}
     </div>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}